@charset "UTF-8";

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

/* ベース */
* {
    box-sizing: border-box;
}


body {

    /* 変数定義 */
    --clr_main_red_100: rgba(138, 15, 15);
    --clr_main_red_60: rgba(138, 15, 15, 0.6);
    --clr_main_blue_100: rgb(35, 49, 69);
    --clr_main_blue_60: rgba(35, 49, 69, 0.6);
    --clr_main_black_100: rgba(15, 15, 15);
    --clr_main_black_80: rgba(15, 15, 15, 0.8);
    --clr_main_black_60: rgba(15, 15, 15, 0.6);
    --clr_main_black_20: rgba(15, 15, 15, 0.2);
    --clr_main_grey_100: rgba(229, 229, 229);
    --clr_main_white_100: rgba(255, 255, 255);

    --clr_accent_red: rgb(175, 6, 6);
    --clr_accent_gold_100: rgb(168, 168, 168);

    --clr_text_white: #FFF;
    --clr_text_black: #000;

    font-size: 24px;

    margin: 0;

    color: var(--clr_text_white);

    font-family: "Zen Old Mincho";


}

a {
    color: inherit;
    text-decoration: none;
}

.inner {
    width: 100%;
    margin: 0 auto;
}


/********** ヘッダー **********/
.site-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--clr_main_black_80);
    backdrop-filter: blur(6px);
}

.header-inner {
    display: flex;
    align-items: center;
    height: 5.6rem;


    :nth-of-type(1) {
        margin-right: auto;
    }

    :nth-of-type(2) {
        margin-right: 0;
    }

}

.logo {
    width: 16rem;
    height: 5rem;

    background-image: url(../../css/images/sui_logo_header.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




@media screen and (max-width: 959px) {
    #gnav_column {
        display: none;
        transition: ease 400ms;
    }

    .logo {
        display: absolute;
        gap: 8px;

        margin-left: auto;
        margin-right: auto;
    }

    .menu-wrapper {
        position: absolute;
        top: calc(0% -15px);
        left: 20px;

        .menu_icon {
            width: 40px;
            height: 30px;
            cursor: pointer;

            z-index: 40;
            display: inline-block;
        }

        .menu_icon span {
            display: block;
            height: 4px;
            margin: 6px 0;
            background: var(--clr_text_white);
            border-radius: 2px;
            transition: 0.4s;
        }

        /* ハンバーガーがXに変形 */
        #menu-toggle:checked+.menu_icon span:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }

        #menu-toggle:checked+.menu_icon span:nth-child(2) {
            opacity: 0;
        }

        #menu-toggle:checked+.menu_icon span:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }


        #menu-toggle:checked~.overlay {
            opacity: 1;
            pointer-events: auto;
        }

        /* メニュー本体（左から出す） */
        #gnav_row {
            position: fixed;
            top: 5.6rem;
            left: -100%;
            width: 100%;
            height: min(100dvh, calc(1rem * 5 + 6rem + 2rem * 5 * 2));
            background: var(--clr_main_black_60);
            box-shadow: 2px 0 8px --clr_main_black_60;
            transition: left 200ms ease;
            z-index: 20;
        }

        #menu-toggle:checked~#gnav_row {
            top: 5.6rem;
            left: 0;
        }

        #gnav_row {
            ul {
                list-style: none;
                padding: 6rem 3rem;
            }

            li {
                padding: 0.9em;
                margin: 0.2rem 0;
            }

            a {
                text-decoration: none;
                font-size: 1rem;
                transition: color 0.3s;
            }

            a :hover {
                background-color: var(--clr_main_red_100);
                text-decoration-line: under;
                transition: ease-out 400ms;
            }
        }
    }
}

@media screen and (min-width: 960px) {

    .menu-wrapper {
        display: none;
        transition: ease 400ms;
    }

    #gnav_column {
        margin: auto 0;

        ul {
            display: flex;
            gap: 0.2rem;
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 1.1rem;
        }

        li {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 8rem;

        }

        a :hover {
            background-color: var(--clr_main_red_100);
            text-decoration-line: under;
            transition: ease-out 400ms;
        }
    }
}

/* 予約ボタン */
.btn_reserve {
    display: inline-flex;
    min-width: 10em;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    padding: 0.67em 1.1em;
    margin-left: 10px;
    height: 5.6rem;
    background-color: var(--clr_accent_red);

    z-index: 100;
}


/********** フッター **********/
.site_footer {
    background: #1A1A1A;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
    padding: 40px 0;
    margin-top: 80px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: 769px) {
        flex-direction: column;
        gap: 40px;
    }
}

.footer_logo {
    width: 16rem;
    height: 10rem;
    margin: 0 auto;

    background-image: url(../../css/images/sui_logo_header.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer_address {
    text-align: left;
}

.footer_left {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 2em;
    line-height: 1.75em;

    @media screen and (min-width: 960px) {
        flex-direction: row;

    }

    @media screen and (max-width: 959px) {
        flex-direction: column;
        gap: 0;
    }

}


.footer_right {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 2em;
    line-height: 1.75em;

    ul li {
        text-decoration: underline;
        padding: 1px;

        :hover {
            color: var(--clr_accent_gold_100);
        }
    }

    @media screen and (min-width: 960px) {
        flex-direction: row;

    }

    @media screen and (max-width: 959px) {
        flex-direction: column;

    }

}

.footer_copy {
    font-size: 1rem;
    text-align: center;
    margin-top: 4em;
}

/********** 共通設定 **********/
main {
    color: var(--clr_text_black);
}

section {
    padding: 1em 0;
    /* ラインフレーム用 */
}


/********** ヒーロー **********/
.hero {
    position: relative;
    height: 80vh;
    min-height: 600px;
    background: #333;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    background-image: url(./images/img_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: brightness(60%);
}

.hero-inner {
    position: relative;
    z-index: 1;
    text-align: center;
}

.topic_hero {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;

    .title_topic {
        font-size: min(2em, calc(40vw / 6));
    }
}

/********** tag **********/
.hyper_tag {
    height: 5.6rem;
}

/* 共通設定 */
.title_topic span {
    vertical-align: 0.16em;
    ;
}

.grey_background {
    background: var(--clr_main_grey_100);
    z-index: -1;
}

.white_background {
    background: var(--clr_main_white_100);
    z-index: -1;
}

.topics {
    --width_topics: 80dvw;
    width: var(--width_topics);
    margin: 0 auto;

    .title_topic {
        font-size: 1.4em;
        letter-spacing: 0.08em;
        margin-top: 1em;
        margin-bottom: 0.75em;
    }

    section {
        margin-bottom: 4rem;

    }
}

.text_topic {
    text-align: center;
    line-height: 1em;

    p {
        margin: 1em 0;
    }
}

.image_topic {
    height: calc(var(--width_topics) * 0.6 / 16 * 9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.subtitle-topic,
.description_topic {
    line-height: 1.75em;
    text-align: center;
}

.link_topic {
    width: 100%;

    p {
        display: block;
        margin-right: calc(10% + 35px);
        text-align: right;
        letter-spacing: 0.02em;
    }

    a {
        position: relative;
        top: -50px;
        right: -5%;
        filter: drop-shadow(0px 0px 5px var(--clr_main_white_100));
    }

    a:hover {
        filter: drop-shadow(2px 2px 10px var(--clr_accent_gold_100));
        color: var(--clr_accent_red);
        font-weight: 600;

        .arrow_line {
            border-bottom: 3px solid var(--clr_accent_red);

        }

        .arrow_head {
            background-color: var(--clr_accent_red);
            height: 3px;

        }
    }

}

.arrow_line {
    position: relative;

    width: 90%;

    border-bottom: 2px solid var(--clr_main_black_100);
    box-shadow: 0 -0.45em 1em 5px var(--clr_main_white_100);
    z-index: -1;

    .arrow_head {
        position: absolute;
        width: 30px;
        height: 2px;
        top: -0.9em;
        rotate: 45deg;
        transform: translateY(-10px);
        background-color: var(--clr_main_black_100);
        top: -0.15em;
        right: 0.1em;

    }
}

/* -end- 共通設定 */

.topic_right {
    position: relative;
    display: grid;
    grid-template-columns: 55% 40%;
    column-gap: 5%;
    align-items: center;

    .image_topic {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .text_topic {
        grid-column: 2/3;
        grid-row: 1/2;
    }

}

.topic_left {
    position: relative;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    align-items: center;

    .image_topic {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .text_topic {
        grid-column: 1/2;
        grid-row: 1/2;
    }

}

.topic_left_food {
    position: relative;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    align-items: center;

    .image_topic {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .text_topic {
        grid-column: 1/2;
        grid-row: 1/2;
    }

}

.topic_left,
.topic_right,
.topic_hero,
.topic_left_food {
    @media screen and (max-width: 959px) {
        display: flex;
        flex-direction: column;

        .image_topic {
            width: 100%;
            height: 50dvh;

            background-size: cover;

            filter: drop-shadow(0px 4px 5rem var(--clr_main_grey_100));
            z-index: 1;
        }

        .text_topic {

            .title_topic {
                margin-bottom: 0.5em;
            }

            font-weight: 500;
            color: var(--clr_text_white);
            background-color: var(--clr_main_black_60);
            padding: 0.84em;

            width: 100%;

        }
    }
}

.description_topic,
.room-note,
.room-price {
    font-size: max(0.8em, calc(var(--width_topics) * 0.4 / 24));
}

/* 画像設定 */
#topic_akatsukinoma {
    .image_topic {
        background-image: url(images/img_room1.jpg);
    }
}

#topic_tsukinoma {
    .image_topic {
        background-image: url(images/img_room2.jpg);
    }
}

#topic_food {
    .image_topic {
        background-image: url(images/sakizuke_02.jpg);
    }
}

#topic_hotspring {
    .image_topic {
        background-image: url(images/food_sub.jpg);
    }
}


#topic_dishes {
    .image_topic {
        background-image: url(images/food_sub.jpg);

        height: calc(var(--width_topics) * 0.6 / 16 * 9);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    font-size: calc(80dvw * 0.6 / 42);
    font-size: max(0.8em, calc(var(--width_topics) * 0.6 / 42));
}



.topic_reservation {
    position: relative;
    background-color: #FFF;

    .subtitle-topic {
        font-size: max(0.8em, calc(var(--width_topics) * 0.3 / 26));
    }

    .image_topic {
        background-image: url(./images/img_top_reservation.jpg);
    }
}



/* スライダー（回転ずし風） */
.cuisine-carousel {
    overflow: hidden;
}

.cuisine-carousel-track {
    display: flex;
    gap: 16px;
    animation: cuisineScroll 30s linear infinite;
}

.carousel-item {
    flex: 0 0 18%;
    max-width: 180px;
}

.carousel-item img {
    width: 100%;
}

/* 5枚×2セット → -50%まで平行移動 */
@keyframes cuisineScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* スライダー（回転ずし風）-end- */


#description_hotspring {
    font-size: max(0.8em, calc(var(--width_topics) * 0.5 / 40));
    margin-bottom: 2em;
}

.topic_hotspring {
    display: flex;
    gap: 3em;

    .card_hotspring {
        width: calc((var(--width_topics) - 3em) / 2);

        .image_topic {
            height: calc((var(--width_topics) - 3em) / 2 * 0.9);
        }
    }

    .title_topic {
        font-size: 1.1em;
    }

    .description_topic {
        font-size: calc((var(--width_topics) - 3em) / 2 / 30);
    }

    @media screen and (max-width: 959px) {
        display: flex;
        flex-direction: column;

        .card_hotspring {
            width: 100%;

            .image_topic {
                height: calc((var(--width_topics) - 3em) / 2 * 0.9);
            }
        }

        .image_topic {
            width: 100%;
            height: 50dvh;

            background-size: cover;

            filter: drop-shadow(0px 4px 5rem var(--clr_main_grey_100));
            z-index: 1;
        }

        .text_topic {

            .title_topic {
                margin-bottom: 0.5em;
            }

            font-weight: 500;
            color: var(--clr_text_white);
            background-color: var(--clr_main_black_60);
            padding: 0.84em;

            width: 100%;

            .description_topic {
                font-size: 0.8em;
            }

        }
    }
}

#hotspring_morine {
    .image_topic {
        background-image: url(./images/onsen01.jpg);
    }
}

#hotspring_hoshi {
    .image_topic {
        background-image: url(./images/onsen02.jpg);
    }
}