@charset "UTF-8";

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

/* ベース */
* {
    box-sizing: border-box;
}


body {

    /* 変数定義 */
    --clr_main_red_100: rgba(138, 15, 15);
    --clr_main_red_60: rgba(138, 15, 15, 0.6);
    --clr_main_blue_100: rgb(35, 49, 69);
    --clr_main_blue_60: rgba(35, 49, 69, 0.6);
    --clr_main_black_100: rgba(15, 15, 15);
    --clr_main_black_80: rgba(15, 15, 15, 0.8);
    --clr_main_black_60: rgba(15, 15, 15, 0.6);
    --clr_main_black_20: rgba(15, 15, 15, 0.2);
    --clr_main_grey_100: rgba(229, 229, 229);
    --clr_main_white_100: rgba(255, 255, 255);

    --clr_accent_red: rgb(175, 6, 6);
    --clr_accent_gold_100: rgb(168, 168, 168);

    --clr_text_white: #FFF;
    --clr_text_black: #000;

    font-size: 24px;

    margin: 0;

    color: var(--clr_text_white);

    font-family: "Zen Old Mincho";


}

a {
    color: inherit;
    text-decoration: none;
}

.inner {
    width: 100%;
    margin: 0 auto;
}


/********** ヘッダー **********/
.site-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--clr_main_black_80);
    backdrop-filter: blur(6px);
}

.header-inner {
    display: flex;
    align-items: center;
    height: 5.6rem;


    :nth-of-type(1) {
        margin-right: auto;
    }

    :nth-of-type(2) {
        margin-right: 0;
    }

}

.logo {
    width: 16rem;
    height: 5rem;

    background-image: url(./images/sui_logo_header.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




@media screen and (max-width: 959px) {
    #gnav_column {
        display: none;
        transition: ease 400ms;
    }

    .logo {
        display: absolute;
        gap: 8px;

        margin-left: auto;
        margin-right: auto;
    }

    .menu-wrapper {
        position: absolute;
        top: calc(0% -15px);
        left: 20px;

        .menu_icon {
            width: 40px;
            height: 30px;
            cursor: pointer;

            z-index: 40;
            display: inline-block;
        }

        .menu_icon span {
            display: block;
            height: 4px;
            margin: 6px 0;
            background: var(--clr_text_white);
            border-radius: 2px;
            transition: 0.4s;
        }

        /* ハンバーガーがXに変形 */
        #menu-toggle:checked+.menu_icon span:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }

        #menu-toggle:checked+.menu_icon span:nth-child(2) {
            opacity: 0;
        }

        #menu-toggle:checked+.menu_icon span:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg);
        }


        #menu-toggle:checked~.overlay {
            opacity: 1;
            pointer-events: auto;
        }

        /* メニュー本体（左から出す） */
        #gnav_row {
            position: fixed;
            top: 5.6rem;
            left: -100%;
            width: 100%;
            height: min(100dvh, calc(1rem * 5 + 6rem + 2rem * 5 * 2));
            background: var(--clr_main_black_60);
            box-shadow: 2px 0 8px --clr_main_black_60;
            transition: left 200ms ease;
            z-index: 20;
        }

        #menu-toggle:checked~#gnav_row {
            top: 5.6rem;
            left: 0;
        }

        #gnav_row {
            ul {
                list-style: none;
                padding: 6rem 3rem;
            }

            li {
                padding: 0.9em;
                margin: 0.2rem 0;
            }

            a {
                text-decoration: none;
                font-size: 1rem;
                transition: color 0.3s;
            }

            a :hover {
                background-color: var(--clr_main_red_100);
                text-decoration-line: under;
                transition: ease-out 400ms;
            }
        }
    }
}

@media screen and (min-width: 960px) {

    .menu-wrapper {
        display: none;
        transition: ease 400ms;
    }

    #gnav_column {
        margin: auto 0;

        ul {
            display: flex;
            gap: 0.2rem;
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 1.1rem;
        }

        li {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 5rem;
            width: 8rem;

        }

        a :hover {
            background-color: var(--clr_main_red_100);
            text-decoration-line: under;
            transition: ease-out 400ms;
        }
    }
}

/* 予約ボタン */
.btn_reserve {
    display: inline-flex;
    min-width: 10em;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    padding: 0.67em 1.1em;
    margin-left: 10px;
    height: 5.6rem;
    background-color: var(--clr_accent_red);

    z-index: 100;
}


/********** フッター **********/
.site_footer {
    background: #1A1A1A;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
    padding: 40px 0;
    margin-top: 80px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: 769px) {
        flex-direction: column;
        gap: 40px;
    }
}

.footer_logo {
    width: 16rem;
    height: 10rem;
    margin: 0 auto;

    background-image: url(./images/sui_logo_header.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer_address {
    text-align: left;
}

.footer_left {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 2em;
    line-height: 1.75em;

    @media screen and (min-width: 960px) {
        flex-direction: row;

    }

    @media screen and (max-width: 959px) {
        flex-direction: column;
        gap: 0;
    }

}


.footer_right {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 2em;
    line-height: 1.75em;

    ul li {
        text-decoration: underline;
        padding: 1px;

        :hover {
            color: var(--clr_accent_gold_100);
        }
    }

    @media screen and (min-width: 960px) {
        flex-direction: row;

    }

    @media screen and (max-width: 959px) {
        flex-direction: column;

    }

}

.footer_copy {
    font-size: 1rem;
    text-align: center;
    margin-top: 4em;
}

/********** 共通設定 **********/
main {
    color: var(--clr_text_black);
}

section {
    padding: 1em 0;
    /* ラインフレーム用 */
}


/********** ヒーロー **********/
.hero {
    position: relative;
    height: 80vh;
    min-height: 600px;
    background: #333;
    color: #FFFFFF;
    display: flex;
    align-items: center;
      /* ★ここを追加：アニメ中のはみ出しを隠す */
    overflow: hidden;
}


.hero-overlay {
    position: absolute;
    inset: 0;
    background-image: url(./images/plan_mainvisual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     /* ★ ここから追加 */
    z-index: 0;
    opacity: 0;
    transform: scale(1.12) translateY(10px);
    /* TOPページ読み込み時にフェード＋ズーム */
    animation: heroFadeZoom 8s ease-out .4s forwards;
}

/* ヒーロー内テキスト：少し遅れて下からふわっと */
.page-top .section.hero .topic_hero .text_topic {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(4px);
    animation: heroTextUp 1.8s ease-out 1.2s forwards;
}



.hero-inner {
    position: relative;
    z-index: 1;
    text-align: center;
}

.topic_hero {
    position: relative;
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 1%;
    align-items: center;
    justify-content: center;

    .image_topic {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .text_topic {
        grid-column: 1/2;
        grid-row: 1/2;

        .title_topic {
            font-size: min(2em, calc(40vw / 16));
        }

        .subtitle-topic {
            font-size: min(0.6em, calc(40vw / 10));
        }
    }
}

.link_hero_about {
    a {
        display: block;
        text-align: center;
        letter-spacing: 0.02em;
        padding: 0.3em;
        font-size: 0.8rem;

        width: 8em;
        margin: 1em auto;
        border-radius: 0.5em;
        border: 1px solid var(--clr_main_white_100);
    }

    a:hover {
        filter: drop-shadow(2px 2px 10px var(--clr_accent_gold_100));
        font-weight: 500;
    }

}


/********** 宿泊 **********/
/* 共通設定 */
.grey_background {
    background: var(--clr_main_grey_100);
    z-index: -1;
}

.white_background {
    background: var(--clr_main_white_100);
    z-index: -1;
}

.topics {
    --width_topics: 80dvw;
    width: var(--width_topics);
    margin: 0 auto;

    .title_topic {
        font-size: 1.4em;
        margin-bottom: 1.75em;
    }

    section {
        margin-bottom: 4rem;

    }
}

.text_topic {
    text-align: center;
    line-height: 1em;

    small {
        font-size: 0.6em;
    }
}

.image_topic {
    height: calc(var(--width_topics) * 0.6 / 16 * 9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.link_topic {
    width: 100%;

    p {
        display: block;
        margin-right: calc(10% + 35px);
        text-align: right;
        letter-spacing: 0.02em;
    }

    a {
        position: relative;
        top: -50px;
        right: -5%;
        filter: drop-shadow(0px 0px 5px var(--clr_main_white_100));
    }

    a:hover {
        filter: drop-shadow(2px 2px 10px var(--clr_accent_gold_100));
        color: var(--clr_accent_red);
        font-weight: 600;

        .arrow_line {
            border-bottom: 3px solid var(--clr_accent_red);

        }

        .arrow_head {
            background-color: var(--clr_accent_red);
            height: 3px;

        }
    }

}

.arrow_line {
    position: relative;

    width: 90%;

    border-bottom: 2px solid var(--clr_main_black_100);
    box-shadow: 0 -0.45em 1em 5px var(--clr_main_white_100);
    z-index: -1;

    .arrow_head {
        position: absolute;
        width: 30px;
        height: 2px;
        top: -0.9em;
        rotate: 45deg;
        transform: translateY(-10px);
        background-color: var(--clr_main_black_100);
        top: -0.15em;
        right: 0.1em;

    }
}

/* -end- 共通設定 */

.topic_right {
    position: relative;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    align-items: center;

    .image_topic {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .text_topic {
        grid-column: 2/3;
        grid-row: 1/2;
    }

}

.topic_left {
    position: relative;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    align-items: center;

    .image_topic {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .text_topic {
        grid-column: 1/2;
        grid-row: 1/2;
    }

}

.topic_left,
.topic_right,
.topic_hero {
    @media screen and (max-width: 959px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;

        .image_topic {
            width: 100%;
            height: 40dvh;
            grid-column: 1/2;
            grid-row: 1/3;

            background-size: cover;
        }

        .text_topic {
            grid-column: 1/2;
            grid-row: 1/2;

            .title_topic {
                margin-bottom: 0.5em;
            }

            font-weight: 500;
            color: var(--clr_text_white);
            background-color: var(--clr_main_black_60);
            padding: 0.84em;
        }
    }
}

.subtitle-topic {
    font-size: min(1em, calc(var(--width_topics) / 25));
}

#topic_stay {
    .image_topic {
        background-image: url(images/img_top_room.jpg);
    }
}

#topic_dishes {
    .image_topic {
        background-image: url(images/top_food.jpg);
    }
}

#topic_hotspring {
    .image_topic {
        background-image: url(images/img_top_hotspring.jpg);
    }
}

#topic_access {
    .image_topic {
        background-image: url(images/img_top_train.jpg);

        height: calc(var(--width_topics) * 0.6 / 16 * 9);
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;

    }
}


.text_access {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    p {
        grid-column: 1/2;
        text-align: center;
    }

}

.topic_reservation {
    position: relative;
    background-color: #FFF;

    .subtitle-topic {
        font-size: calc(var(--width_topics) * 0.3 / 26);
    }

    .image_topic {
        background-image: url(images/top_reservation.jpg);
    }
}



/* ================================
   TOPヒーロー：演出用アニメーション
   ================================ */

/* 背景写真：ゆっくりフェード＋ズームアウト */
@keyframes heroFadeZoom {
    0% {
        opacity: 0;
        transform: scale(1.12) translateY(10px);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(1.05) translateY(0);
    }
}

/* テキスト：下からふわっと＆ぼかし解除 */
@keyframes heroTextUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}
